/* ================================================================
body
================================================================ */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  line-height: 1.5;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

h1, h2 {
  font-family: "Unna", serif;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 100px;
}

.button__more {
  width: 300px;
  background-color: #66C2F4;
  border-radius: 20px;
  text-align: center;
  margin: 60px auto 0 auto;
}

.button__more a {
  color: #fff;
  display: inline-block;
  padding: 12px 0;
  width: 100%;
  position: relative;
}
.button__more a::before {
  content: "";
  top: 46%;
  right: 40px;
  width: 15px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  transition: all 0.5s;
}
.button__more a::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -8px;
  transition: all 0.5s;
}
.button__more a:hover {
  opacity: 0.8;
}
.button__more a:hover::before {
  transform: translateX(10px);
}
.button__more a:hover::after {
  transform: translateX(10px);
}

section {
  margin: 120px 0;
}

.section__title {
  text-align: center;
  margin-bottom: 60px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s, transform 0.8s;
}

.section__title.appear {
  opacity: 1;
  transform: translateY(0);
}

/*
================================================================
sp
================================================================
*/
@media screen and (max-width: 850px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    padding: 0 20px;
  }
  .button__more {
    margin: 60px auto 0 auto;
    width: 100%;
  }
}
/*
================================================================
header
================================================================
*/
header {
  height: 64px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 2;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu nav ul {
  display: flex;
}
.header__menu nav ul li {
  margin-left: 32px;
  position: relative;
}
.header__menu nav ul li:hover {
  opacity: 0.8;
}
.header__menu nav ul li::after {
  content: "";
  width: 0;
  position: absolute;
  background-color: #66C2F4;
  bottom: -10px;
  height: 3px;
  transition: 0.8s;
  display: block;
}
.header__menu nav ul li:hover::after {
  width: 100%;
}

/*
================================================================
humbergur menu
================================================================
*/
.toggle_btn {
  display: block;
  width: 3rem;
  height: 2.3rem;
  position: absolute;
  top: 32px;
  right: 100px;
  position: fixed;
  z-index: 999;
  display: none;
}

.toggle_btn:hover {
  cursor: pointer;
}

.toggle_btn i {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #6e6666;
  position: absolute;
  transition: all 0.5s;
  z-index: 999;
}

.toggle_btn i:nth-child(1) {
  top: 0;
}

.toggle_btn i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.toggle_btn i:nth-child(3) {
  bottom: 0;
}

.toggle_btn.show i:nth-child(1) {
  transform: translateY(10px) rotate(-40deg);
  background: #fff;
}

.toggle_btn.show i:nth-child(2) {
  opacity: 0;
}

.toggle_btn.show i:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
  background: #fff;
}

.sp__menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #66C2F4;
  text-align: center;
  transition: 0.8s;
  opacity: 0;
  pointer-events: none;
  transition: 0.8s;
  z-index: 2;
  display: none;
}

.sp__menu.panelactive {
  opacity: 1;
  pointer-events: auto;
  transition: 0.8s;
}

.sp__menu nav ul {
  margin-top: 120px;
}
.sp__menu nav ul li {
  margin-bottom: 56px;
  display: block;
  transition: 0.8s;
}
.sp__menu nav ul li a {
  color: #fff;
  cursor: pointer;
}
.sp__menu nav ul li a:hover {
  opacity: 0.8;
}

/*
================================================================
sp
================================================================
*/
@media screen and (max-width: 960px) {
  .header__menu {
    display: none;
  }
  .toggle_btn {
    display: block;
  }
  .sp__menu {
    display: block;
  }
}
@media screen and (max-width: 850px) {
  .toggle_btn {
    right: 20px;
  }
}
@media screen and (max-width: 500px) {
  header h1 a {
    font-size: 2.4rem;
  }
}
/*
================================================================
Contact
================================================================
*/
.Contact {
  background-color: #F0FAFF;
  padding: 40px 0;
}
.Contact p {
  text-align: center;
}

/*
================================================================
footer
================================================================
*/
footer {
  background-color: #66C2F4;
}
footer p {
  padding: 30px 0;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Unna", serif;
}

/*
================================================================
Works
================================================================
*/
.container {
  position: relative;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -50px;
  z-index: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
  z-index: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px;
  font-weight: bold;
}

.swiper-button-prev {
  left: -5%;
  z-index: 1;
}

.swiper-button-next {
  right: -5%;
  z-index: 1;
}

.Works__details {
  width: 80%;
  margin: 50px auto 0 auto;
}
.Works__details a:hover {
  opacity: 0.3;
}
.Works__details dt {
  font-weight: bold;
  margin-bottom: 10px;
}
.Works__details dd {
  border-bottom: 1px dotted #333;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}
.Works__details dd:last-child {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .Works__details {
    font-size: 1.2rem;
  }
}
@media (max-width: 850px) {
  .swiper-button-prev {
    left: 5%;
  }
  .swiper-button-next {
    right: 5%;
  }
  .swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
  }
}
/*# sourceMappingURL=Works__subpage.css.map */