/*
================================================================
Contact
================================================================
*/

.Contact{
    background-color:#F0FAFF;
    padding:40px 0;

p{
    text-align: center;
}
}